.header {
  width: 300rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(23, 71, 166, 0.8)), to(#1747a6)), url("/fiber.jpg");
  background-image: linear-gradient(to bottom right, rgba(23, 71, 166, 0.8), #1747a6), url("/fiber.jpg");
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  padding: 3rem;
  height: 62rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
  position: relative;
}

.header .logo {
  fill: #fff;
}

.header h1 {
  margin-top: 20rem;
}

.header .name {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 4rem;
  font-size: 6rem;
  -webkit-animation-name: headerShift;
          animation-name: headerShift;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes headerShift {
  0% {
    -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
  }
  100% {
    -webkit-transform: translate(50rem, -55%) rotate(-8deg);
            transform: translate(50rem, -55%) rotate(-8deg);
  }
}

@keyframes headerShift {
  0% {
    -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
  }
  100% {
    -webkit-transform: translate(50rem, -55%) rotate(-8deg);
            transform: translate(50rem, -55%) rotate(-8deg);
  }
}

.headerWrap {
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.second {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(23, 71, 166, 0.8)), to(#1747a6)), url("/fiber.jpg");
  background-image: linear-gradient(to bottom right, rgba(23, 71, 166, 0.8), #1747a6), url("/fiber.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #F2F2F2;
  position: relative;
  height: 80vh;
}

.second .aboveSVG {
  padding: 3rem;
  height: 100%;
}

.second .aboveSVG .topBrand {
  font-size: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem max-content;
      grid-template-columns: 5rem -webkit-max-content;
      grid-template-columns: 5rem max-content;
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: .89;
  text-transform: uppercase;
}

.second .aboveSVG .topBrand .webWorks {
  font-size: 78%;
  font-weight: 500;
  text-transform: capitalize;
}

.second .aboveSVG .hero {
  height: 100%;
  padding-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 7vw;
}

.second svg {
  position: absolute;
  bottom: -1px;
  height: 10vw;
  width: 100%;
}

.text {
  margin: 3rem auto;
  width: 70rem;
  font-size: 4rem;
}
/*# sourceMappingURL=index.module.css.map */