@import "../assets/css/sass/abstracts/variables";

.heroWrap {
  background-image: linear-gradient(
      to bottom right,
      rgba($color1, 0.8),
      rgba($color1, 9)
    ),
    url("/fiber.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color4;
  position: relative;

  height: 80vh;

  .aboveSVG {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;

    .hero {
      height: 100%;
      padding-bottom: 10rem;
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      text-align: center;
      font-size: 7vw;
    }
  }

  &:after {
    content: " ";
    display: block;
    height: 45px;
    background-image: url("/torn-border2.png");
    position: absolute;
    bottom: -6px;
    width: 300%;
    left: -500px;
  }
}

.textSection {
  position: relative;
  padding-bottom: 6rem;

  .text {
    margin: 3rem auto;
    width: 70rem;
    font-size: 4rem;
    color: $color1Dark;
  }
  svg {
    position: absolute;
    bottom: -2px;
    height: 10vw;
    width: 100%;
  }
}

.clients {
  background-image: linear-gradient(to bottom, $color3Dark, $color3Darker);
  padding: 8rem 5rem 3rem 5rem;
  color: $color4;
  text-align: center;
  font-size: 2.5rem;

  .clientTitle {
    filter: brightness(80%);
  }

  .clientIcons {
    filter: brightness(80%);
    width: 70%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;

    .clientIcon {
      width: 100%;
      max-height: 7.5rem;
      height: 7.5rem;
      position: relative;
    }
  }
  &:before {
    content: " ";
    display: block;
    width: 300%;
    height: 65px;
    background-image: url("/torn-border2.png");
    position: absolute;
    margin-top: -9rem;
    left: -500px;
    z-index: 1;
    transform: rotate(180deg) scaleX(-1);
  }
}