@import "../assets/css/sass/abstracts/variables";

.header {
  width: 300rem;
  background-image: linear-gradient(
      to bottom right,
      rgba($color1, 0.8),
      rgba($color1, 9)
    ),
    url("/fiber.jpg");
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  //   background-image: url("/microphone.jpg");
  padding: 3rem;
  height: 62rem;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
  // clip-path: path('M0,256L48,261.3C96,267,192,277,288,272C384,267,480,245,576,224C672,203,768,181,864,176C960,171,1056,181,1152,176C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z');
  // box-shadow: 0 0 15px black ;
  position: relative;

  .logo {
    fill: #fff;
  }

  h1 {
    // margin-bottom: 19.1rem;
    margin-top: 20rem;
  }

  .name {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-bottom: 4rem;
    font-size: 6rem;
    // transform: rotate(-8deg);

    animation-name: headerShift;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    @keyframes headerShift {
      0% {
        transform: translate(0, 0) rotate(-8deg);
      }

      100% {
        transform: translate(50rem, -55%) rotate(-8deg);
      }
    }
  }
}

.headerWrap {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.second {
  background-image: linear-gradient(
      to bottom right,
      rgba($color1, 0.8),
      rgba($color1, 9)
    ),
    url("/fiber.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color4;
  position: relative;

  height: 80vh;

  .aboveSVG {
    // font-size: 6rem;
    padding: 3rem;
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    .topBrand {
      font-size: 2.5rem;
      display: grid;
      grid-template-columns: 5rem max-content;
      grid-gap: 1.5rem;
      align-items: center;
      text-align: center;
      line-height: 0.89;
      text-transform: uppercase;

      .webWorks {
        font-size: 78%;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    .nav {
      margin: auto 0;
      font-size: 1.8rem;
      letter-spacing: 3px;

      .navItems {
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li {
          transition: all 0.2s;

          &:hover {
            transform: translatey(-0.2rem);
          }

          &:not(:last-child) {
            margin-right: 3.5rem;
          }

          a {
          }

          a:link,
          a:visited {
            text-decoration: none;
            color: $color1Lighter;
            padding: 0.8rem 1.5rem;
            border-radius: 10px;
            background-image: linear-gradient(
              120deg,
              transparent 0%,
              transparent 50%,
              rgba($color1Darker, 0.5) 50%
            );
            background-size: 300%;

            transition: all 0.4s;
          }

          a:hover,
          a:active {
            // color: orangered;
            background-position: 100%;
          }
        }
      }
    }

    .hero {
      height: 100%;
      padding-bottom: 10rem;
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      text-align: center;
      font-size: 7vw;
    }
  }
  // padding: 3rem;
  // height: 5rem;

  // svg {
  //   position: absolute;
  //   bottom: -1px;
  //   height: 10vw;
  //   width: 100%;
  //   // margin-bottom: -60rem;
  // }

  &:after {
    content: " ";
    display: block;
    height: 45px;
    background-image: url("https://ecorelos.com/wp-content/uploads/2020/04/torn-border2.png");
    position: absolute;
    bottom: -15px;
    width: 300%;
    left: -500px;
  }
}

.textSection {
  position: relative;
  padding-bottom: 6rem;

  .text {
    margin: 3rem auto;
    width: 70rem;
    font-size: 4rem;
    color: $color1Dark;
  }
  svg {
    position: absolute;
    bottom: -2px;
    height: 10vw;
    width: 100%;
  }

  
}

.clients {
  background-image: linear-gradient(to bottom, $color3Dark, $color3Darker);
  padding: 3rem 5rem;
  color: $color4;
  text-align: center;
  font-size: 2.5rem;
  filter: brightness(80%);

  .clientIcons {
    width: 70%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;

    .clientIcon {
      width: 100%;
      max-height: 7.5rem;
      height: 7.5rem;
      position: relative;
    }
  }
}
