.header {
  width: 300rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(23, 71, 166, 0.8)), to(#1747a6)), url("/fiber.jpg");
  background-image: linear-gradient(to bottom right, rgba(23, 71, 166, 0.8), #1747a6), url("/fiber.jpg");
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  padding: 3rem;
  height: 62rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
  position: relative;
}

.header .logo {
  fill: #fff;
}

.header h1 {
  margin-top: 20rem;
}

.header .name {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 4rem;
  font-size: 6rem;
  -webkit-animation-name: headerShift;
          animation-name: headerShift;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes headerShift {
  0% {
    -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
  }
  100% {
    -webkit-transform: translate(50rem, -55%) rotate(-8deg);
            transform: translate(50rem, -55%) rotate(-8deg);
  }
}

@keyframes headerShift {
  0% {
    -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
  }
  100% {
    -webkit-transform: translate(50rem, -55%) rotate(-8deg);
            transform: translate(50rem, -55%) rotate(-8deg);
  }
}

.headerWrap {
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.second {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(23, 71, 166, 0.8)), to(#1747a6)), url("/fiber.jpg");
  background-image: linear-gradient(to bottom right, rgba(23, 71, 166, 0.8), #1747a6), url("/fiber.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  height: 80vh;
}

.second .aboveSVG {
  padding: 3rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
}

.second .aboveSVG .topBrand {
  font-size: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem max-content;
      grid-template-columns: 5rem -webkit-max-content;
      grid-template-columns: 5rem max-content;
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 0.89;
  text-transform: uppercase;
}

.second .aboveSVG .topBrand .webWorks {
  font-size: 78%;
  font-weight: 500;
  text-transform: capitalize;
}

.second .aboveSVG .nav {
  margin: auto 0;
  font-size: 1.8rem;
  letter-spacing: 3px;
}

.second .aboveSVG .nav .navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.second .aboveSVG .nav .navItems li {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.second .aboveSVG .nav .navItems li:hover {
  -webkit-transform: translatey(-0.2rem);
          transform: translatey(-0.2rem);
}

.second .aboveSVG .nav .navItems li:not(:last-child) {
  margin-right: 3.5rem;
}

.second .aboveSVG .nav .navItems li a:link,
.second .aboveSVG .nav .navItems li a:visited {
  text-decoration: none;
  color: #c5d6f7;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 300%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.second .aboveSVG .nav .navItems li a:hover,
.second .aboveSVG .nav .navItems li a:active {
  background-position: 100%;
}

.second .aboveSVG .hero {
  height: 100%;
  padding-bottom: 10rem;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 7vw;
}

.second:after {
  content: " ";
  display: block;
  height: 45px;
  background-image: url("https://ecorelos.com/wp-content/uploads/2020/04/torn-border2.png");
  position: absolute;
  bottom: -15px;
  width: 300%;
  left: -500px;
}

.textSection {
  position: relative;
  padding-bottom: 6rem;
}

.textSection .text {
  margin: 3rem auto;
  width: 70rem;
  font-size: 4rem;
  color: #113479;
}

.textSection svg {
  position: absolute;
  bottom: -2px;
  height: 10vw;
  width: 100%;
}

.clients {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#297897), to(#19485b));
  background-image: linear-gradient(to bottom, #297897, #19485b);
  padding: 3rem 5rem;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.clients .clientIcons {
  width: 70%;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.clients .clientIcons .clientIcon {
  width: 100%;
  max-height: 7.5rem;
  height: 7.5rem;
  position: relative;
}
/*# sourceMappingURL=index.module.css.map */